*.Rproj
.Rproj.user/
.Rhistory

# Suppress data folders/files
_extensions/
*.Rdata
data_raw/
data_cleaned/
docs/*.docx
docs/travel
docs/hydry-GPP/*.docx
docs/hydry-GPP/templates/*.docx
docs/hydry-GPP/rsconnect
scripts/model-pd-daily/plots/
scripts/model-pd-md/figs/
docs/ESA_2022/
docs/AGU_2022/
docs/RISE_2022/
docs/hydry-GPP/NP_2022_sub1_proof.pdf
docs/hydry-GPP/Hydry-GPP-ms.pdf
docs/hydry-GPP/NewPhyt/
plots/
docs/hydry-GPP-quarto/_manuscript/
# Suppress html and rsconnect files
*.html
scripts/rsconnect/
*.pptx