*.Rproj
.Rproj.user/
.Rhistory

# Suppress data folders/files
*.Rdata
data_raw/
data_cleaned/
docs/*.docx
docs/travel
docs/hydry-GPP/*.docx
docs/hydry-GPP/templates/*.docx
docs/hydry-GPP/rsconnect
scripts/model-pd-daily/plots/
scripts/model-pd-md/figs/
docs/ESA_2022/images/
docs/ESA_2022/Juniper-water-use-GPP_files
docs/ESA_2022/*.html
docs/ESA_2022/receipts
docs/AGU_2022/
docs/RISE_2022/

# Suppress html and rsconnect files
*.html
scripts/rsconnect/
*.pptx