*.Rproj
.Rproj.user/
.Rhistory

# Suppress data folders/files
*.Rdata
data_raw/
data_cleaned/
docs/*.docx
docs/travel
docs/hydry-GPP/*.docx
docs/hydry-GPP/templates/*.docx
docs/hydry-GPP/rsconnect
scripts/model-pd-daily/plots/
scripts/model-pd-md/figs/

# Suppress html and rsconnect files
*.html
scripts/rsconnect/
